
# Ignore these to reduce Docker build context
node_modules
.git
.gitignore
Dockerfile
README.md
.vscode
.idea

# Optional: ignore logs and other irrelevant files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
